.viz {
  height: 500px;
}

.visualization-container .controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.icon-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #fdd306;
}

.glyphicon.quien {
  width: 40%;
}

.glyphicon.como {
  width: 50%;
}

.glyphicon.que {
  width: 30%;
}

.popover-content {
  font-weight: normal;
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
}

/* redefino cosas que están mal en bastrap.css */
.bac-header {
  background-image: url(bastrap3/bac-header-2.png);
  background-image: url(bastrap3/bac-header-2.svg), none;
}

.bac-footer {
  background-image: url(bastrap3/bac-footer.png);
  background-image: url(bastrap3/bac-footer.svg), none;
}
